<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>589721937572-1j8efoeu2gg70085j7dp033ut9lp6oh8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589721937572-1j8efoeu2gg70085j7dp033ut9lp6oh8</string>
	<key>API_KEY</key>
	<string>AIzaSyAbEvrF00Mt-m0t45H4Qq1Pw0boL-fhHMo</string>
	<key>GCM_SENDER_ID</key>
	<string>589721937572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wilsonding.Aloha</string>
	<key>PROJECT_ID</key>
	<string>aloha-af9b5</string>
	<key>STORAGE_BUCKET</key>
	<string>aloha-af9b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:589721937572:ios:ae443a5bf8099788</string>
	<key>DATABASE_URL</key>
	<string>https://aloha-af9b5.firebaseio.com</string>
</dict>
</plist>